@charset "UTF-8";

p{margin:0;}

#middle1{
	background-color:#efefef;
	position:relative; z-index:1;
	text-align:left;
};

#middle2{
	width:54%;
}

#minimenu{
	width:100%;
	text-align:left;
}

.minimenu{
	background-color:#ef0056;
	border-radius:5px;
	font-size:90%;
}

