@charset "UTF-8";

#middle1{
	position:relative; z-index:1;
	text-align:left;
};

.tt{
	color:#ef0056;
	font-size:150%;
}

.tb{
	color:gray;
	font-size:80%;
}

#minimenu{
	width:54%;
	text-align:left;
}

.minimenu{
	background-color:#ef0056;
	border-radius:5px;
	font-size:90%;
}

/* 테이블 시작 */

#boardtable{
	width:54%;
	text-align:left;
	font-size:90%;
}

.table{
	width:100%;
	background-color:white;
	border-radius:5px;
	font-size:90%;
	text-align:left;
}

.write{
	width:10%;
    height:40px;
	background-color:#ef0056;
	color:white;
	border: 1px none lightgray;
	border-radius:5px;
	box-shadow:none;
}

/* 파일 업로드 관련*/

.fileDrop1 {
	width:75%;
	height:100px;
	border:1px dotted #ef0056;
	float:left;
}

.fileDrop2 {
	width:75%;
	height:100px;
	border:1px dotted #ef0056;
	float:left;
}