<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback.xml"></include>
	
	<!-- DEBUG : Debug를 위한 용도로, 일반 정보를 상세하게 출력. 
		 INFO : 일반적인 데이터를 출력.
		 WARN : 경고성 메세지. 에러가 아닌 처리 가능한 문제를 출력.
		 ERROR : 일반적인 에러로 처리가 필요로 하는 문제를 출력.
		 FATAL : 시스템에 심각한 문제를 일으킬 수 있는 문제를 출력.
	 -->
	
	<!--  SQL문만을 로그로 남기며, PresparedStatement일 경우 관련된 argument값으로 대체된 SQL문이 보여진다. -->
	<logger name="jdbc.sqlonly"			level ="DEBUG"/>
	
	<!--  SQL문과  해당 SQL을 실행하는데 수행된 시간 정보를 포함-->
	<logger name="jdbc.sqltiming" 		level ="INFO"/>
	
	<!-- ResultSet을 제외한 JDBC 호출 정보를 로그로 남긴다.
		  많은 양의 로그가 생성되므로 특별히 JDBC문제를 추적해야할 필요가 있을 경우를 제외하고는 사용을 권장하지 않음. -->
	<logger name="jdbc.audit" 			level ="WARN"/>
	
	<!--  ResultSet을 포함한 모든 JDBC 호출 정보를 로그로 남기므로 매우 방대한 양의 로그가 생성된다. -->
	<logger name="jdbc.resultset" 		level ="ERROR"/>
	
	<!--  ResultSettable을 포함한 모든 JDBC 호출 정보 로그를 남기므로 매우 방대한 양의 로그가 생성된다. -->
	<logger name="jdbc.resultsettable" 	level ="ERROR"/>
	
	<!-- Connection 관련 호출정보를 로그로 남긴다. -->
	<logger name="jdbc.connection" 		level ="INFO"/>
	
</configuration>