<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.speshase.mapper.RepBoardMapper">

	<!-- 페이징 처리 "안한" 게시판 전체 목록 리스트 -->
	<select id="RepboardList" resultType="com.speshase.model.RepBoardVO">
	<![CDATA[
		select * from tbl_board
	]]>
	</select>
	
	<!-- 페이징 처리"한" 게시판 전체 목록 리스트 -->
	<select id="RepboardListPaging" resultType="com.speshase.model.RepBoardVO">
		select bno, title, writer, regdate, viewcnt from
		(select @rownum:=@rownum+1 as rownum, bno, title, writer, regdate, viewcnt
		from (select @rownum:=0) as rownum
		, board
		<if test="keyword != null">
		where title like concat('%',#{keyword},'%')
		</if>
		order by no desc
		)tbl_board
		<![CDATA[
		where rownum>(#{pageNum}-1)*#{amount}
		and rownum<=#{pageNum}*#{amount}
	]]>
	</select>
	
	<!-- 제목을 클릭했을 때 보이는 해당되는 게시물의 상세 내용 -->
	<select id="RepboardDetail" resultType="com.speshase.model.RepBoardVO">
	<![CDATA[
		select * from tbl_board where bno=#{bno}
	]]>
	</select>
	
	<!-- board테이블의 전체게시물 개수 : 페이징의 realEnd를 알기 위해서-->
	<select id="RepboardCount" resultType="int">
	
		select count(*) from tbl_board
		<if test="keyword != null">
		where title like concat('%',#{keyword},'%')
		</if>
	
	</select>
	
	<!-- 글쓰기 -->
	<insert id="RepboardWrite">
	<![CDATA[
		insert into tbl_board (title, content, writer, regdate, viewcnt)
		values(#{title},#{content},#{writer},sysdate(),#{viewcnt})
	]]>
	</insert>
	
	<!-- 글수정 -->
	<update id="RepboardModify">
	<![CDATA[
		update tbl_board set title = #{title}, content = #{content} where bno=#{bno}
	]]>
	</update>
	
	<!-- 글삭제 -->
	<delete id="RepboardDel">
	<![CDATA[
		 delete from tbl_board where bno=#{bno}
	]]>
	</delete>
	
</mapper>